{
  "extends": "@antfu",
  "rules": {
    // note you must disable the base rule as it can report incorrect errors
    "indent": "off",
    "@typescript-eslint/indent": ["error"],
    "react/jsx-indent" : ["error", 2]
  }
}
